<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>TinderCar</title>
</head>
<body>
    <header>
            <a class="btn-1" href="#">
                <img
                  src="/images/kisspng-computer-icons-clip-art-profile-cliparts-free-5ab5a47b02ff75.0880050915218535630123.jpg"
                  alt="imagen avatar"
                  title="avatar"
            />
          </a>
    </header>
    <main>
        <section id="mapaBuscador">
            <div id="googleMap">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13619.476256367592!2d-64.1893732696704!3d-31.417733402456815!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9432a29d1d3f9d45%3A0xcbcd910412819792!2sCentro%2C%20C%C3%B3rdoba!5e0!3m2!1ses-419!2sar!4v1665264468395!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div> 
        </section>
    </main>    
    <section>
        <form action="/action_page.php">
          <div class="Filtros">
            <input type="search" class="" placeholder="Lugar">
            <label for="Automóvil">Automóvil</label>
            <select name="Automóvil" id="Automóvil">
                <option value="ToyotaCorolla">ToyotaCorolla</option>
            </select>
            <label for="Disponibilidad">Disponibilidad</label>
            <select name="Disponibilidad" id="Disponibilidad">
                <option value="Mensual">Mensual</option>
            </select>
            <button class="searchBlock-form-input" type="submit">Filtrar</button>
          </div>    
</body>
</html>
