<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styleUsuarioConVehiculo.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/footer.css">
    <!-- CSS only -->
<!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">-->
    <title>Tinder Car</title>
</head>

<body>
    <header class="header">
        <nav class="nav">
          <a href="index.html">
            <img class="nav-logo" src="imagenes/iconoAuto.png">
          </a>
          <button class="nav-btnNavbar" type="menu" id="btnNavbar">
            <img src="imagenes/menu.png" alt="menu">
          </button>
          <ul class="nav-menu" id="responsiveMenu">
            </li>
            <li class="nav-menu-item">
              <a href="#Acerca-de-nosotros" class="nav-menu-link">Acerca de nosotros</a>
            </li>
            <li class="nav-menu-item">
              <a href="registroCochera.html" class="nav-menu-link">Alquila tu cochera</a>
            </li>
            <li class="nav-menu-item">
                <a href="registroVehiculo.html" class="nav-menu-link"> Registra tu vehículo </a>
              </li>
            <li class="nav-menu-item">
              <a href="registreUnico.html" class="nav-menu-link">Registrate</a>
            </li>
            <li class="nav-menu-item">
              <a href="login.html" class="nav-menu-link">Ingresa</a>
            </li>
            
              
          </ul>
        </nav>
      </header>
   
      <main class="container">
        <section class="mapScreen">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13619.476256367592!2d-64.1893732696704!3d-31.417733402456815!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9432a29d1d3f9d45%3A0xcbcd910412819792!2sCentro%2C%20C%C3%B3rdoba!5e0!3m2!1ses-419!2sar!4v1665264468395!5m2!1ses-419!2sar"
                width="" height="" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </section>  

        <section class="userCard">
            <div class="userCard-perfil">
                <img src="imagenes/usuario-perfil.png" alt="">
            </div>
            <h3 class="userCard-name">Nombre</h3>
            <div class="userCard-block">
                <div class="userCard-block-section">
                    <img src="imagenes/reservados.png" class="userCard-block-section-icon" alt="">
                    <a href="#Reservados" class="userCard-block-section-link">Reservados</a>
                </div>
                <div class="userCard-block-section">
                    <img src="imagenes/favoritos.png" class="userCard-block-section-icon" alt="">
                    <a href="#Favoritos" class="userCard-block-section-link">Favoritos</a>
                </div>
            </div>
            <div class="userCard-block2">
                <a href="#Mi-cuenta" class="userCard-block2-link">Mi cuenta</a>
                <a href="#Ayuda" class="userCard-block2-link">Ayuda</a>
                <button class="userCard-block2-btn">Cerrar sesión</button>
            </div>
        </section>
    </main>

    <!--<div class="userCard2">
      <h5> Filtrar </h5>

      <div class="row g-3">
        <div class="col">
          <input type="text" class="form-control" placeholder="Buscar dirección" aria-label="Buscar dirección">
        </div>
      </div>
      <h6> Tiempo de Alquiler</h6>
      <select class="form-select" aria-label="Default select example">
        
        <option selected>Tiempo de alquiler</option>
        <option value="1">1 mes</option>
        <option value="2">3 meses</option>
        <option value="3">6 meses</option>
        <option value="3">1 año</option>
      </select>

      <h6> Tipo de Automóvil </h6>
      <select class="form-select" aria-label="Default select example">
        
        <option selected>Tipo de Automóvil</option>
        <option value="1"> Auto </option>
        <option value="2">Moto</option>
        <option value="3">camioneta</option>
        <option value="3">otros</option>
      </select>

      <button type="button" class="btn btn-dark">Filtrar</button>
       
          
    </div>-->
</main>
    

    <footer>
        <div class="footer">
          <div class="grupo1">
      
            <div class="box"> 
              <h2> SOBRE NOSOTROS</h2>
              <p>
                TinderCar es una página que busca facilitar la conexión entre usuarios de automiles y propietarios de cocheras. Lo que buscamos es
                ayudar a los aumovilistas a encontrar cocheras de manera eficaz y sencilla para guardar su vehículo, como también facilitar a los dueños
                de las cocheras la difusión de las mismas y poder administrarlas de la mejor manera posible.
              </p>
    
              <p>
                <a href="#"> Nuestro Blog </a>
              </p>
            </div>
            
            <div class="box"> 
              <h2> SEGUINOS </h2>
            
            <div class="logos">
              <a href="https://www.facebook.com/">  Facebook </a>
              <a href="https://twitter.com/">  Twitter </a>
              <a href="https://www.instagram.com/">  Instagram </a>
             
              <!--<img src="imagenes/icono facebook.png" alt="facebook">
              <img src="imagenes/icono instagram.png" alt="instagram">
              <img src="imagenes/icono twitter.png" alt="twitter">-->
            </div>
    
          </div>
            
          </div>
        
    
        <div class="grupo2"> 
        
        <small>&copy; 2022 <b> TinderCar </b> - Todos los derechos Reservados.</small>
      </div>
    
      </div>
      </footer>
      <script src="js/nav.js"></script>
</body>

</html>