<<!DOCTYPE html>
<html>
    <meta charset="utf-8">
    <title>TinderCar</title>
    <head>
        <!-- Hoja de estilo -->
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <!-- JavaScript Bundle with Popper Boostrap  -->
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
     </head>
    <body>
      <header>  
       <div class="menu">
        <a href="index.html"><img id="logo" src="imagenes/iconoAuto.png"> </a>  
        <nav>    
          <ul>
            <li><a href="3">Acerca de nosotros</a></li>
            <li><a href="3">Alquila tu cochera</a></li>
            <li><a href="registrateUnico.html">Registrate</a></li>
            <li><a href="login.html">Ingresa</a></li>
          </ul>
        </nav> 
        </div>    
      </header>
      <section id="mapaBuscador">
        <div id="googleMap">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13619.476256367592!2d-64.1893732696704!3d-31.417733402456815!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9432a29d1d3f9d45%3A0xcbcd910412819792!2sCentro%2C%20C%C3%B3rdoba!5e0!3m2!1ses-419!2sar!4v1665264468395!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          
        </div> 
        <!--  <div id="barra">
           <nav id="barra" class="navbar bg-light">
              <div class="container-fluid">
                <form class="d-flex" role="search">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
              </div>
            </nav>
         
        </div>-->
    </section>
    <footer>
      <div class="row">
        <div class="col-lg-3">
          <div class="card">
            <img src="imagenes/registro.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h4>Registrate</h4>
              <p class="card-text">
                Ingresá tus datos y los del vehiculo y creá una cuenta en el
                sitio.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="card">
            <img src="imagenes/busqueda.webp" class="card-img-top" alt="..." />
            <div class="card-body">
              <h4>Busqueda</h4>
              <p class="card-text">
                Podras realizar tu busqueda segun plan, forma de pago y
                ubicacion.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="card">
            <img src="imagenes/parking.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h4>Reserva y paga</h4>
              <p class="card-text">
                Elegi la cochera que mas te convenga, reserva y paga. TinderCar
                lo hace simple!
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="card">
            <img src="imagenes/benefit.webp" class="card-img-top" alt="..." />
            <div class="card-body">
              <h4>Beneficio</h4>
              <p class="card-text">
                Promociones y descuentos en YPF, lubricentros y mucho más.
              </p>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
