<DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8"/>
		<title>Propietario de cocheras</title>
		<link rel="stylesheet" type="text/css" href="css/stylePropietario.css">
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<link rel="stylesheet" type="text/css" href="css/styleIndex.css">

		
	</head>
	
	<body>
		<header>  
			<div class="menu">
			 <a href="index.html"><img id="logo" src="imagenes/iconoAuto.png"> </a>  
			 <nav>    
			   <ul>
				 <li><a href="3">Acerca de nosotros</a></li>
				 <li><a href="3">Alquila tu cochera</a></li>
				 <li><a href="registro.html">Registrate</a></li>
				 <li><a href="Ingresa.html">Ingresa</a></li>
			   </ul>
			 </nav> 
			 </div>    
		   </header>

		<!--<img src="usuario.png" class="usuario">-->
		<div class="contenedor">
			<img src="imagenes/icperfil.jpg" class="usuario">
			<label id="nombre">Nombre</label>
			<a href="#" class="btnJUAN">Mis cocheras</a>
			<a href="#" class="btnJUAN">Cocheras reservadas</a>
			<a href="#" class="btnJUAN">Facturación</a>
			<a href="#" class="btnJUAN">Retirá tu dinero</a>
			<label id="sesion" class="sesion">Cerrar Sesión</label>
		</div>

		<footer>
			<p>Creado por Designers S.A 2022</p>
		  </footer>
	</body>