<DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8"/>
		<title>Propietario de cocheras</title>
		<link rel="stylesheet" type="text/css" href="css/style.css">
	</head>
	
	<body>
		 <img src="imagenes/iconoAuto.png">
		<!--<img src="usuario.png" class="usuario">-->
		<div id="inicioProp">
			<img src="imagenes/icperfil.jpg" class="usuario">
			<label id="nombre">Nombre</label>
			<a href="#" class="btnJUAN">Mis cocheras</a>
			<a href="#" class="btnJUAN">Cocheras reservadas</a>
			<a href="#" class="btnJUAN">Facturación</a>
			<a href="#" class="btnJUAN">Retirá tu dinero</a>
			<label id="sesion" class="sesion">Cerrar Sesión</label>
		</div>

		<footer>
			<p>Creado por Designers S.A 2022</p>
		  </footer>
	</body>