<DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8"/>
		<title>Mis cocheras</title>
		<link rel="stylesheet" type="text/css" href="css/stylePropietario.css">
		<link rel="stylesheet" type="text/css" href="css/style.css">
		
		<link rel="stylesheet" type="text/css" href="css/styleIndex.css">
		
	</head>
	<body>
		<header>
			<div class="menu">
			  <a href="index.html"><img id="logo" src="imagenes/iconoAuto.png" /></a>
			  <nav>
				<ul>
				  <li><a href="3">Acerca de nosotros</a></li>
				  <li><a href="3">Alquila tu cochera</a></li>
				  <li><a href="registro.html">Registrate</a></li>
				  <li><a href="Ingresa.html">Ingresa</a></li>
				</ul>
			  </nav>
			</div>
		  </header>

		
		
		<div class="contenedor">
			<h2><center>Mis cocheras</center></h2>
			<hr>
			<h2>Cochera 1</h2>
			<a href="#" class="btn1">Ubicación</a>
			<a href="#" class="btn1">Configuración</a>
			<hr>
			<h2>Cochera 2</h2>
			<a href="#" class="btn1">Ubicación</a>
			<a href="#" class="btn1">Configuración</a>
			<a href="#">Volver</a>
		</div>

</body>