<DOCTYPE html>
    <html lang="es">
        <head>
            <meta charset="utf-8"/>
            <title>Propietario de cocheras</title>
            
            <link rel="stylesheet" type="text/css" href="css/style.css">
            <link rel="stylesheet" type="text/css" href="css/stylePropietario.CSS">
            
        </head>
        <body>
            <header>  
                <div class="menu">
                 <a href="index.html"><img id="logo" src="imagenes/iconoAuto.png"> </a>  
                 <nav>    
                   <ul>
                     <li><a href="3">Acerca de nosotros</a></li>
                     <li><a href="3">Alquila tu cochera</a></li>
                     <li><a href="registro.html">Registrate</a></li>
                     <li><a href="Ingresa.html">Ingresa</a></li>
                   </ul>
                 </nav> 
                 </div>    
               </header>
             
            <!--<img src="usuario.png" class="usuario">
            <div class="contenedor">
                <img src="usuario.png" class="usuario">
                <label id="nombre">Nombre</label>
                <a href="#" class="btn">Mis cocheras</a>
                <a href="#" class="btn">Cocheras reservadas</a>
                <a href="#" class="btn">Facturación</a>
                <a href="#" class="btn">Retirá tu dinero</a>
                <label id="sesion" class="sesion">Cerrar Sesión</label>
            </div> -->
            <section>
                <div class="box">
                    <h2> Nombre </h2>
                    <input
            class="botons btn btn-secondary"
            type="button"
            value="Mis cocheras"
          />
          <input
            class="botons btn btn-secondary"
            type="button"
            value="Cocheras reservadas"
          />
          <input
            class="botons btn btn-secondary"
            type="button"
            value="Facturación"
          />
          <input
            class="botons btn btn-secondary"
            type="button"
            value="Retira tu dinero"
          />

                </div>


            </section>


    
    
        </body>