<DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8"/>
		<title>Propietario de cocheras</title>
		<link rel="stylesheet" type="text/css" href="css/style.css">
	</head>
	<body>
		 <img src="iconoAuto.png">
		<!--<img src="usuario.png" class="usuario">-->
		<div class="contenedor">
			<img src="usuario.png" class="usuario">
			<label id="nombre">Nombre</label>
			<a href="#" class="btn">Mis cocheras</a>
			<a href="#" class="btn">Cocheras reservadas</a>
			<a href="#" class="btn">Facturación</a>
			<a href="#" class="btn">Retirá tu dinero</a>
			<label id="sesion" class="sesion">Cerrar Sesión</label>
		</div>


	</body>