<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/styleRegistro.css">
  <link rel="stylesheet" href="css/footer.css">

  <title>Inscripcion</title>
</head>

<body>
  <header class="header">
    <nav class="nav">
      <a href="index.html">
        <img class="nav-logo" src="imagenes/iconoAuto.png">
      </a>
      <button class="nav-btnNavbar" type="menu" id="btnNavbar">
        <img src="imagenes/menu.png" alt="menu">
      </button>
      <ul class="nav-menu" id="responsiveMenu">
        </li>
        <li class="nav-menu-item">
          <a href="#Acerca-de-nosotros" class="nav-menu-link">Acerca de nosotros</a>
        </li>
        <li class="nav-menu-item">
          <a href="login.html" class="nav-menu-link">Ingresa</a>
        </li>
      </ul>
    </nav>
  </header>
  <main>
    <section>
      <form action="#" method="post" class="form" id="form">
        <div class="form-title">
          <h3>Registrate</h3>
        </div>
        <div class="form-group" id="groupFirstname">
          <label for="userName" class="form-group-label">Nombre</label>
          <input type="text" class="form-group-input" name="firstName" id="firstName" placeholder="John">
          <p class="form-group-errorText">El nombre tiene que ser de 4 a 16 letras.</p>
        </div>
        <div class="form-group" id="groupLastname">
          <label for="lastname" class="form-group-label">Apellido</label>
          <input type="text" class="form-group-input" name="lastname" id="lastname" placeholder="Doe">
          <p class="form-group-errorText">El apellido tiene que ser de 4 a 16 letras.</p>
        </div>
        <div class="form-group" id="groupEmail">
          <label for="email" class="form-group-label">Correo Electrónico</label>
          <input type="email" class="form-group-input" name="email" id="email">
          <p class="form-group-errorText">El email solo puede contener letras, numeros, puntos, guíones y guíon bajo.
          </p>
        </div>
        <div class="form-group" id="groupPhone">
          <label for="phone" class="form-group-label">Telefono</label>
          <input type="number" class="form-group-input" name="phone" id="phone">
          <p class="form-group-errorText">El telefono solo puede contener numeros y el maximo son 14 digitos.</p>
        </div>
        <div class="form-group" id="groupPassword">
          <label for="password" class="form-group-label">Contraseña</label>
          <input type="password" class="form-group-input" name="password" id="password">
          <p class="form-group-errorText">La contraseña tiene que ser de 4 a 12 digitos.</p>
        </div>
        <div class="form-group" id="groupPassword2">
          <label for="password2" class="form-group-label">Confirmar Contraseña</label>
          <input type="password" class="form-group-input" name="password2" id="password2">
          <p class="form-group-errorText">Ambas contraseñas tienen que ser iguales</p>
        </div>
        <div class="form-group" id="groupTerminos">
          <label class="form-group-label">
            <input type="checkbox" class="form-group-label-checkbox" name="terms" id="terms">
            Aceptos los <a href="#" class="form-group-label-checkbox-link">términos y condicones.</a>
          </label>
        </div>
        <div class="form-messaje-error" id="formMessaje">
          <p><b>Error</b> Por favor rellena el formulario correctamente.</p>
        </div>
        <div class="form-messaje-done" id="formDone">
          <p>Formulario enviado correctamente.</p>
        </div>
        <div class="form-group form-group-btn">
          <button type="submit" class="form-group-btn-send">Enviar</button>
          <a href="login.html" class="form-group-link">¿Ya tenes una cuenta?</a>
        </div>
      </form>
    </section>
  </main>

  <script src="js/nav.js"></script>
  <script src="js/validacionFormulario.js"></script>

  <footer>
    <div class="footer">
      <div class="grupo1">
  
        <div class="box"> 
          <h2> SOBRE NOSOTROS</h2>
          <p>
            TinderCar es una página que busca facilitar la conexión entre usuarios de automiles y propietarios de cocheras. Lo que buscamos es
            ayudar a los aumovilistas a encontrar cocheras de manera eficaz y sencilla para guardar su vehículo, como también facilitar a los dueños
            de las cocheras la difusión de las mismas y poder administrarlas de la mejor manera posible.
          </p>

          <p>
            <a href="#"> Nuestro Blog </a>
          </p>
        </div>
        
        <div class="box"> 
          <h2> SEGUINOS </h2>
        
        <div class="logos">
          <a href="https://www.facebook.com/">  Facebook </a>
          <a href="https://twitter.com/">  Twitter </a>
          <a href="https://www.instagram.com/">  Instagram </a>
         
          <!--<img src="imagenes/icono facebook.png" alt="facebook">
          <img src="imagenes/icono instagram.png" alt="instagram">
          <img src="imagenes/icono twitter.png" alt="twitter">-->
        </div>

      </div>
        
      </div>
    

    <div class="grupo2"> 
    
    <small>&copy; 2022 <b> TinderCar </b> - Todos los derechos Reservados.</small>
  </div>

  </div>
  </footer>
</body>

</html>