<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Inscripcion</title>
</head>
<body>
    <section class="registro">
        <h4>Registro</h4>
        <input class="relleno" type="text" name="nombres" id="nombres" placeholder="Nombre">
        <input  class="relleno" type="text" name="nombres" id="nombres" placeholder="Apellido">
        <input  class="relleno" type="text" name="nombres" id="nombres" placeholder="Email">
        <input  class="relleno" type="number" name="nombres" id="nombres" placeholder="telefono (opcional)">
        <input  class="relleno" type="password" name="nombres" id="nombres" placeholder="Contraseña">
        <input  class="relleno" type="password" name="nombres" id="nombres" placeholder="Confirmar contraseña">
        <p>Acepto los <a href="#">terminos y condiciones</a></p>
        <input  class="boton" type="submit" value="Registrar mi cochera">
        <input  class="boton" type="submit" value="Registrar mi vehiculo">

        <p> <a href="#">¿Ya tenes una cuenta?</a></p>
    
    </section>
</body>
<footer>
    <p>Creado TinderCar 2022</p>
  </footer>
</html>