<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/styleIndex.css">
    <link rel="stylesheet" type="text/css" href="css/styleRegistro.css">
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
    crossorigin="anonymous"
  />


    
    <title>Inscripcion</title>
</head>
<body>
    <header>  
        <div class="menu">
         <a href="index.html"><img id="logo" src="imagenes/iconoAuto.png"> </a>  
         <nav>    
           <ul>
             <li><a href="3">Acerca de nosotros</a></li>
             <li><a href="3">Alquila tu cochera</a></li>
             <li><a href="registro.html">Registrate</a></li>
             <li><a href="Ingresa.html">Ingresa</a></li>
           </ul>
         </nav> 
         </div>    
       </header>

    <section>
        
       
        <form>
            <div class="registro">
              <h3>Registro Unico</h3> <br/>
             <!-- <h2>____________________________</h2> -->
    
              <div class="registros">
                <label for="nombre" class="form-label"> Nombre </label>
                <input type="nombre" class="form-control" id="nombre" />
              </div>
              <div class="registros">
                <label for="contraseña" class="form-label">
                  Apellido</label
                >
                <input type="contraseña" class="form-control" id="contraseña" />
              </div>
              <div class="registros">
                <label for="nombre" class="form-label"> Email </label>
                <input type="nombre" class="form-control" id="nombre" />
              </div>
              <div class="registros">
                <label for="nombre" class="form-label"> Telefono </label>
                <input type="nombre" class="form-control" id="nombre" />
              </div>
              <div class="registros">
                <label for="nombre" class="form-label"> contraseña </label>
                <input type="nombre" class="form-control" id="nombre" />
              </div>
              <div class="registros">
                <label for="nombre" class="form-label"> Confirmar contraseña </label>
                <input type="nombre" class="form-control" id="nombre" />
              </div>
              <br />
              <p>Acepto los <a href="#">terminos y condiciones</a></p>
              <input
                class="botons btn btn-secondary"
                type="submit"
                value="Registrar"
              />
              <p> <a href="#"> ¿Ya tenes una cuenta? </a></p>
            </div>
          </form>
    </section>
</body>
<footer>
    <p>Creado TinderCar 2022</p>
  </footer>
</html>