* {
    padding:0px;
    margin: 0px;
    font-family:Arial, Helvetica, sans-serif;

}
body{

    background-color:#8d96a9;
}



h2 {
    color: #8592b0;

}

.home {
    /*display: flex;
    flex-wrap: wrap;
    /*flex:2;
    padding: 25px;
    background-color: white;
    margin: 20px;*/
    /*width:100%;*/
    max-width: 1000px;
}

/*.inflex{
    flex:1;
    padding: 25px;
}*/

.registro {
    width: 50%;
	background-color:#454951 ;
    height: auto;
	margin: auto;
	margin-top: 10%;
	margin-left: 50%;
	border: 10px solid #0000; 
	box-shadow: 7px 13px 37px #000;
    margin-bottom: 20px;
    flex: 2;
    /*min-width: 300px;
    /*padding: 0px;*/

}



.registro .registros{

    color: #8592b0;
    width: 100%;
	background-color:#454951;
	padding: 10px;
	/*border-radius: 4px;
	margin-bottom: 16px;*/
	border: 1px solid #454951;
	font-size: 18px;
    font-family:Arial, Helvetica, sans-serif;
    flex: 1;
    /*min-width: 300px;
    padding: 25px;*/
	

}


.registro h3 {
    color: #acb4c9;
    margin:auto;
    margin-top: 10%;
    margin-left: 5%;

}

.registro h2{
    color: #8592b0;
}



  /*.btn-bd-secondary:active {
    color:blueviolet;
  }*/


.registro .botons {

	width: 100%;
	background: #4f42de;
	border: solid 2px blueviolet;
	padding: 12px;
	color: whitesmoke;
	margin: 16px 0;
	font-size: 16px;
    font-family:Arial, Helvetica, sans-serif;
} 

.registro p{
    text-align: center;
}

.form-check{
    color: #8592b0;
    font-size: 16px;
    font-family:Arial, Helvetica, sans-serif;

}

.registro h5{
    color: #8592b0;
    font-family:Arial, Helvetica, sans-serif;
} 


.btn-1{
    margin-left:35%;
    border-radius: 50%;
    background-color: #8d96a9;
}

.registro a img {
    border-radius: 50%;
    width:100px;
    height:100px;
    

}

@media screen and (max-width:600px) {
    .registro{
        width: 40%;
        margin:auto;
        height: 50%;
    }

    
}

@media screen and (max-width:800px) {
    .registro{
        width: 40%;
        margin:auto;
        height: 50%;
    }

    
}
@media screen and (max-width:900px) {
    .registro{
        width: 40%;
        margin:auto;
        height: 50%;
    }

    
}

@media screen and (max-width:1000px) {
    .registro{
        width: 40%;
        margin:auto;
        height: 50%;
    }
/*@media screen and (max-width:300px) {
    .registro{
        width: 50%;
    }

    
}

.registro h2{
    color: #8592b0;
}



  /*.btn-bd-secondary:active {
    color:blueviolet;
  }*/


.registro .botons {

	width: 100%;
	background: #4f42de;
	border: solid 2px blueviolet;
	padding: 12px;
	color: whitesmoke;
	margin: 16px 0;
	font-size: 16px;
    font-family:Arial, Helvetica, sans-serif;
} 

.registro p{
    text-align: center;
}

.form-check{
    color: #8592b0;
    font-size: 16px;
    font-family:Arial, Helvetica, sans-serif;

}

.registro h5{
    color: #8592b0;
    font-family:Arial, Helvetica, sans-serif;
} 


.btn-1{
    margin-left:35%;
    border-radius: 50%;
    background-color: #8d96a9;
}

.registro a img {
    border-radius: 50%;
    width:100px;
    height:100px;
    

}

@media screen and (max-width:600px) {
    .registro{
        width: 40%;
        margin:auto;
        height: 50%;
    }

    
}

@media screen and (max-width:800px) {
    .registro{
        width: 40%;
        margin:auto;
        height: 50%;
    }

    
}
@media screen and (max-width:900px) {
    .registro{
        width: 40%;
        margin:auto;
        height: 50%;
    }

    
}

@media screen and (max-width:1000px) {
    .registro{
        width: 40%;
        margin:auto;
        height: 50%;
    }
/*@media screen and (max-width:300px) {
    .registro{
        width: 50%;
    }

    
}