* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 12px;
    color: #e5e5e5;
    font-family: 'Sintony', sans-serif;
    line-height: 1;
    background: #5e606b;
    max-width: 1500px;
    margin: 0 auto;
}
ul {
    list-style: none;
  }

header {
    display: flex;
    justify-content: space-between;
    padding: 0 150px;
    height: 60px;
    align-items: center;
    font-size: 15px;
    background: #fff;   
}
nav ul li{
    list-style: none;
    margin-left: 15px;
    float:left;
  }
  nav ul li a{
    text-align: center;
    text-decoration: none;
    color: #4455b0;
    font-weight: bold; 
    font-size: 20px; 
    padding: 8px 12px;
  }

  nav ul li a:hover {
    background-color: #4455b0;
    color: #ffffff;
    padding: 22px 15px;
  }
.logo a img {
    width: 50px;
}
#mapaBuscador{
    width:100%; 
    height: 400px;
}
#googleMap{
    width:80%; 
    margin-right: auto;
    margin-left: auto;
    height: 330px;
    position: relative;
}

iframe{
    width: 100%;
    opacity: 0.55;
    color: #6879a1;
    position: relative;
  }

.flex-searchBlock {
    justify-content: center;
    align-items: center;
    position: absolute;
    top:200px;
    right:680px;
}

.searchBlock {
    width: 150%;
}

.searchBlock-title {
    margin-bottom: 10px;
}

.searchBlock-form {
    display: flex;
    justify-content: space-between;
}

.searchBlock-form-input {
    width: 80%;
    outline: none;
    padding: 8px;
    border: none;
    }

.searchBlock-form-btn {
    width: 40%;
    font-weight: bold;
    padding: 4px;
    border: none;
    cursor: pointer;
    color: #fff;
    background-color:#4455b0 ;
    
}

.searchBlock-form-input,
.searchBlock-form-btn {
    border-radius: 5px;
    
}

#pasos{
    height: 500px;
    background-color: white;
    padding:80px;   
    width:90%; 
    margin-right: auto;
    margin-left: auto; 

}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.pasos-title {
    text-transform: uppercase;
    padding-top: 10px;

}

#saldo{
width: 380px;
height: 200px;
padding: 20px;
margin-right: auto;
margin-left: auto; 
background-color: #6879a1;
text-align:center;
}

h4{
    color: #e5e5e5;
    font-weight: bold;
}

.btn btn-light{
    position: relative;
    margin-right: auto;
    margin-left: auto; 
}

