.container{
	width: 30%;
	margin: 65px auto;
	background: #2c3e50;
	border: 2px 3px  black solid;
	margin-bottom: 173px;
	display:flex;
	flex-direction: column;
	justify-content: center;
}
.label{
	text-align: center;
	font-size: 35px;
	font-weight: bold;
	color: white;
	text-shadow: #151c6a 3px 2px;
	font-family:Arial, Helvetica, sans-serif;
}
.login_form{
	height: 40vh;
	padding: 20px 0px;
	width: 80%;
	margin: 0 auto;
	border-radius: 55%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	
}
.login_form .font{
	font-size: 18px;
	color:white;
	margin: 5px 0;
}
.login_form input{
	height: 40px;
	width: 100%;
	padding: 5px 5px 5px 5px;
	font-size: 15px;
	outline: none;
	border: 1px solid silver;
}
.login_form .font2{
	margin-top: 26px;
}
.login_form button{
	padding: 15px;
	margin-top: 20px;
	text-align: center;
	width: 60%;
	font-size: 20px;
	color: white;
	outline: none;
	cursor: pointer;
	font-weight: bold;
	background: #000;
	border-radius: 20px;
	border: 1px solid #3949AB;
	transition: .5s;
	border-bottom: purple;
}
.conectar{
	display: flex;
	justify-content: center;
}
.login_form button:hover{
	background: #151c6a;
}
.login_form #email_error,
.login_form #pass_error{
	margin-top: 6px;
	width: 350px;
	font-size: 18px;
	color: #C62828;
	background: rgba(255,0,0,0.1);
	text-align: center;
	padding: 5px 8px;
	border-radius: 3px;
	border: 1px solid #EF9A9A;
	display: none;
}