* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Sintony', sans-serif;
  color: #e5e5e5;
  font-size: 12px;
}

.header {
  font-size: 20px;
  background: #2fcdcd;
}

.nav {
  height: 70px;
  max-width: 1200px;
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  width: 50px;
}

.nav-btnNavbar {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.nav-menu {
  display: flex;
  list-style: none;
}

.nav-menu-item {
  margin-left: 25px;
}

.nav-menu-link {
  text-decoration: none;
  color: #2d2b2b;

}

#mapaBuscador,
#googleMap {
  width: 200%;
  height: 600px;
  background-color: bisque;
  /*margin-top: 4%;*/
  padding: 0px;
}

#mapaBuscador {
  box-sizing: content-box;
  width: 100%;

}

#googleMap {
  background-color: rgb(74, 92, 92);
}

iframe {
  width: 100%;
  height: 100%;
  background-color: orange;
  opacity: 0.80;
}

.row {
  
  width: 100%;
  /*max-width: 1200px;*/
  

}

.carteles{
  width: 100%;
  margin-top:50px;


}

.carteles .row .col-lg-3 .card{
  background-color: #2fcdcd;
}

.carteles .row .col-lg-3 .card .card-body{
  background-color: #2a9e9e;
}


.card-body {
  background-color: #a4b5db;
}

@media screen and (max-width:768px) {
  .header {
    position: relative;
  }

  .nav-logo {
    width: 50px;
  }

  .nav-btnNavbar {
    display: block;
  }

  .nav-menu {
    flex-direction: column;
    position: absolute;
    align-items: center;
    top: 70px;
    width: 100%;
    padding: 20px 0;
    height: 100vh;
    background: #2c3e50;
    left: -100%;
    transition: left .3s;
  }

  .show {
    left: 0;
  }

  .nav-menu-item {
    line-height: 80px;
    margin: 0;
  }

  .nav-menu-link {
    color: #cbd0dd;
  }


}