main {
    width: 90%;
    margin: 70px auto;
}

.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    background: #2c3e50;
    padding: 20px 40px;
    max-width: 750px;
    margin: 20px auto;
    font-size: 16px;
    margin-bottom: 165px;

}


.form .check{
    
    display: flex;
    justify-content:flex-start;
    flex-direction: column;
}

.form .titulo{
    color: #fff;
    padding: 0;


}

.form-title {
    color: #fff;
}

.form-group-label {
    display: block;
    font-weight: 700;
    padding: 10px;
    cursor: pointer;
    color: #fff;
}

.form-group-input {
    width: 100%;
    background: #fff;
    border: 3px solid transparent;
    border-radius: 3px;
    height: 45px;
    line-height: 45px;
    padding: 0 10px;
    transition: .3s ease all;
}

.form-group-input:focus {
    border: 3px solid #0075ff;
    outline: none;
    box-sizing: 3px 0 30px rgba(163, 163, 163, 0.4);
}

.form-group-errorText {
    font-size: 12px;
    margin-bottom: 0;
    display: none;
    margin-top: 10px;
    color: #ff0000;
}

.form-group-errorText-active {
    display: block;
}

.form-group-label-checkbox {
    margin-right: 10px;
}

.form-group-label-checkbox-link {
    text-decoration: none;
}

.form-messaje-error,
.form-messaje-done,
.form-title,
.form-group-btn {
    grid-column: span 2;
}

.form-messaje-error,
.form-messaje-done {
    height: 45px;
    line-height: 45px;
    padding: 0 15px;
    border-radius: 3px;
    display: none;
    color: #2d2d2d;
}

.form-messaje-error {
    background: #f66060;
}

.form-messaje-done {
    background: #0ab210;
}

.form-messaje-done-active,
.form-messaje-error-active {
    display: block;
}

.form-title,
.t,
.form-group-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group-btn-send {
    height: 45px;
    line-height: 45px;
    width: 30%;
    background: #000;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    border: none;
    transition: .1s ease all;
    
}

.form-group-btn-send:hover {
    box-shadow: 3px 0 30px rgba(163, 163, 163, 1);
}

.form-group-link {
    text-decoration: none;
    color: #fff;
    margin: 20px 0;
}


.form-group-error .form-group-label {
    color: #ff0000;
}

.form-group-error .form-group-input {
    border: 3px solid #ff0000;
}

.form-group-done .form-group-label {
    color: #fff;
}

.form-group-done .form-group-input {
    border: 3px solid #0ab210;
}

.form .form-check{
    color:#fff;
}
.form h5{
    color:#fff;
}

@media screen and (max-width:768px) {
    .form {
        grid-template-columns: 1fr;
        padding: 20px;
    }

    .form-messaje-error,
    .form-messaje-done,
    .form-title,
    .form-group-btn {
        grid-column: span 1;
    }

    .form-group-btn-send {
        width: 100%;
    }
}