*{
background-size: cover;
margin: 0;
padding: 0;
box-sizing: border-box;}

body {
    font-size: 12px;
    color: #e5e5e5;
    font-family: 'Sintony', sans-serif;
    line-height: 1;
    background: #5e606b;
    max-width: 1500px;
    margin: 0 auto;


}

header {
    display: flex;
    justify-content: space-between;
    padding: 0 75px;
    height: 60px;
    align-items: center;
    font-size: 15px;
    background: #fff;

}

.logo a img {
    width: 50px;
}

.nav {
    min-width: 45%;

}

.nav-list {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.nav-item a {
    color: #000;
    text-decoration-color: #000;
}

.active a {
    text-decoration: none;
    padding: 10px 25px;
    background: blue;
    color: #fff;
}

.nav-item-btn {
    background: none;
    border: none;
    color: blue;
    font-size: 15px;
    text-decoration: underline;
    cursor: pointer;
}


.registro{
    width: 400px;
    background:/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fffcfc+19,d3d3d3+59,ffffff+74,ffffff+74,ffffff+74,553a8e+99 */
    background: #fffcfc; /* Old browsers */
    background: -moz-linear-gradient(top,  #fffcfc 19%, #d3d3d3 59%, #ffffff 74%, #ffffff 74%, #ffffff 74%, #553a8e 99%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #fffcfc 19%,#d3d3d3 59%,#ffffff 74%,#ffffff 74%,#ffffff 74%,#553a8e 99%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #fffcfc 19%,#d3d3d3 59%,#ffffff 74%,#ffffff 74%,#ffffff 74%,#553a8e 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffcfc', endColorstr='#553a8e',GradientType=0 ); /* IE6-9 */         
    padding: 30px;
    margin: auto;
    margin-top: 150px ;
    border-radius: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    box-shadow: 7px 13px 35px #000; 
}

.registro h4{
    text-align: center;
    font-size: 20px;
    margin-bottom: 15px;
    background: white;
}

.relleno{
    width: 100%;
    background: white;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid black;
    font-family: sans-serif;
    font-size: 15px;
}

.registro p{
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
    ;

}

.registro a{
    color: black;
    text-decoration: none;
}

.registro a :hover{
    color: white;
    text-decoration: underline;
}

.boton {
width: 100%;
border: none;
background: #002f94;
padding: 10px;
color: white;
margin: 15px 0;
font-size: 15px;
border-radius: 8px;
}

