* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 12px;
    color: #e5e5e5;
    font-family: 'Sintony', sans-serif;
    line-height: 1;
    background: #5e606b;
    max-width: 1500px;
    margin: 0 auto;


}

header {
    display: flex;
    justify-content: space-between;
    padding: 0 75px;
    height: 60px;
    align-items: center;
    font-size: 15px;
    background: #fff;

}

.logo a img {
    width: 50px;
}

.nav {
    min-width: 45%;

}

.nav-list {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.nav-item a {
    color: #000;
    text-decoration-color: #000;
}

.active a {
    text-decoration: none;
    padding: 10px 25px;
    background: blue;
    color: #fff;
}

.nav-item-btn {
    background: none;
    border: none;
    color: blue;
    font-size: 15px;
    text-decoration: underline;
    cursor: pointer;
}

.flex-searchBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65vh;
}

.searchBlock {
    width: 50%;
}

.searchBlock-title {
    margin-bottom: 10px;
}

.searchBlock-form {
    display: flex;
    justify-content: space-between;
}

.searchBlock-form-input {
    width: 80%;
    outline: none;
    padding: 8px;
    border: none;
}

.searchBlock-form-btn {
    padding: 4px;
    border: none;
    cursor: pointer;
}

.searchBlock-form-input,
.searchBlock-form-btn {
    border-radius: 5px;
}

.footer {
    color: #000;
    background: #fff;
    padding: 0 75px;
    height: 25vh;

}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.footer-title {
    text-transform: uppercase;
    padding-top: 10px;

}

.cardsSteps {
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.cardsSteps .card {
    width: 150px;
    height: 80px;
}

.cardBenefits {
    width: 25%;
    text-align: center;
    height: 120px;
}

.cardsSteps .card,
.cardBenefits {
    border-radius: 4px;
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
}