
body{

    background-color:#8d96a9;
}



h2 {
    color: #8592b0;

}



.registro {
    width: 400px;
	background-color:#454951 ;
    height: auto;
	/*padding: 30px; */
	margin: auto;
	margin-top: 50px;
	margin-left: 500px;
	border: 10px solid #0000; 
	box-shadow: 7px 13px 37px #000;
    margin-bottom: 50px;
    

}



.registro .registros{

    color: #8592b0;
    width: 100%;
	background-color:#454951;
	padding: 10px;
	/*border-radius: 4px;
	margin-bottom: 16px;*/
	border: 1px solid #454951;
	font-size: 18px;
    font-family:Arial, Helvetica, sans-serif;
	

}


.registro h3 {
    color: #acb4c9;
    margin:auto;
    margin-top: 10%;
    margin-left: 5%;

}

.registro h2{
    color: #8592b0;
}



  /*.btn-bd-secondary:active {
    color:blueviolet;
  }*/


.registro .botons {

	width: 100%;
	background: #4f42de;
	border: solid 2px blueviolet;
	padding: 12px;
	color: whitesmoke;
	margin: 16px 0;
	font-size: 16px;
    font-family:Arial, Helvetica, sans-serif;
} 

.registro p{
    text-align: center;
}

.form-check{
    color: #8592b0;
    font-size: 16px;
    font-family:Arial, Helvetica, sans-serif;

}

.registro h5{
    color: #8592b0;
    font-family:Arial, Helvetica, sans-serif;
} 


.btn-1{
    margin-left:35%;
    border-radius: 50%;
    background-color: #8d96a9;
}

.registro a img {
    border-radius: 50%;
    width:100px;
    height:100px;
    

}