
body {
    font-family: 'Sintony', sans-serif;
    color: #e5e5e5;
    font-size: 12px;
    background: #ffffff;
    line-height: 1;
    width: 1026px;
    margin-right: auto;
    margin-left: auto;
}
  header {
    width: 1026px;
    height: 50px;
    margin-right: auto;
    margin-left: auto;
    clear: both;
    content: "";
    display: table;
    background-color: rgb(4, 148, 44);
  }

  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
  }
  ol, ul {
    list-style: none;
  }
  header h2 {
  margin: 25px 5px;
  font-size: 28px;
  text-align: center;
  color: cornsilk;
  }
  
  #logo{
    width: 50px;
    height: 50px;
    float: left
    padding: 4px;
  }

  .menu {
    width: 990px;
    margin: 0 auto;
    height: 50px;

  }
  nav{
    float:right;
    height: 50px;
    background-color:#ffff;
  }
  nav ul li{
    list-style: none;
    margin-left: 15px;
    float:left;
  }

  nav ul li a{
    text-align: center;
    text-decoration: none;
    color:rgba(3, 53, 110, 0.5);
    font-weight: bold; 
    font-size: 18px; 
    padding: 22px 15px;
  }

  nav ul li a:hover {
    background-color: rgba(4, 43, 84, 0.5);
    color: #ffffff;
    padding: 22px 15px;
  }

  #mapa{
    width: auto;
    padding: 5px 60px;
    background-color: rgb(116, 54, 54);
  }

  iframe{
    margin: none;
    width: 900px;
    height: 600px;
  }